{% extends "templates/default.twig" %}

{% block content %}
	<div class="w-1/3 text-center">
		<h1 class="text-3xl font-bold mb-6">Welcome to <b>Orkestra</b> Framework</h1>
		<p class="mb-4">
			<b>Congratulations</b> on setting up your <b>Orkestra application</b>!
		</p>
		<p class="mb-4">
			Modify the routes, controllers and views to build your application.
		</p>
	</div>
{% endblock %}
